<div class="container">
    <mat-toolbar color="primary">
      <h1>Lista de Tarefas</h1>
    </mat-toolbar>
  
    <mat-card>
      <mat-card-header>
        <mat-card-title>Faculdade</mat-card-title>
      </mat-card-header>
  
      <mat-list>
        <mat-list-item *ngFor="let tarefa of tarefasFaculdade">
          <mat-checkbox [(ngModel)]="tarefa.feita">
            {{tarefa.nome}}
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card>
  
    <mat-card>
      <mat-card-header>
        <mat-card-title>Amigos</mat-card-title>
      </mat-card-header>
  
      <mat-list>
        <mat-list-item *ngFor="let tarefa of tarefasAmigos">
          <mat-checkbox [(ngModel)]="tarefa.feita">
            {{tarefa.nome}}
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  