<div class="container">
  <mat-toolbar color="white">
    <mat-card-title class="title">Faculdade</mat-card-title>
  </mat-toolbar>

  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let tarefa of tarefas" class="list-item">
        <mat-checkbox [(ngModel)]="tarefa.completed">{{ tarefa.name }}</mat-checkbox>
        
        <!-- Botão de Edição -->
        <button class="icon-container" mat-icon-button (click)="abrirdetalhesTarefa(tarefa)">
          <mat-icon>edit</mat-icon>
        </button>
        
        <!-- Botão de Exclusão -->
        <button class="icon-container" mat-icon-button (click)="removerTarefaExemplo(tarefa, tarefas)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    
    <!-- Botão de Adição -->
    <button class="adicionar-button" mat-icon-button color="primary" (click)="adicionarTarefaExemplo(tarefa, tarefas)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
</div>
